<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fish.chapter6.mapper.BlogMapper">

    <resultMap id="BaseResultMap" type="com.fish.chapter6.domain.Blog">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="author" property="author" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, title, author
    </sql>

    <select id="getByTitle" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from article
        <where>
            <if test="title != null and title !=''">
                AND title = #{title,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="getAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from article
    </select>

    <insert id="create" parameterType="com.fish.chapter6.domain.Blog">
        INSERT INTO article (title, author) VALUES (#{title}, #{author})
    </insert>

    <update id="updateById" parameterType="com.fish.chapter6.domain.Blog">
        UPDATE article SET title = #{title}, author = #{author} WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Integer">
        DELETE FROM article WHERE id = #{id}
    </delete>
</mapper>